@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

/* global styling */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", sans-serif;

}

p {
    font-family: "Raleway", sans-serif;
}

/* navigation area */

nav {
    width: 85%;
    margin: 1em auto;
    overflow: auto;
}

nav h1 {
    text-transform: uppercase;
    width: 50%;
    float: left;
}

nav h1 a {
    font-family: "Oswald", sans-serif;
    color: #96746b;
    text-decoration: none;
    font-size: 32px;
}

nav ul {
    width: 50%;
    float: left;
    list-style: none;
    text-align: right;
    padding-top: .7em;
}

nav ul li {
    display: inline-block;
    margin-right: 1em;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

/* banner area */
.banner {
    background: url('../images/banner-bg.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 670px;
    position: relative;
}

.banner-text {
    position: absolute;
    top: 35%;
    left: 7%;
}

.banner-text h2 {
    color: #c7a17a;
    font-size: 4em;
    text-transform: uppercase;
}

.banner-text h2 span {
    color: #96746b;
}

.banner-text p {
    color: #ffffff;
}

.btn {
    text-decoration: none;
    background: #c7a17a;
    color: #ffffff;
    padding: 1em;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-top: 1em;
    display: inline-block;
}

/* ads area */

.ads {
    width: 85%;
    margin: 4em auto;
    overflow: auto;
}

.ads-item {
    width: 48.5%;
    height: 350px;
    float: left;
    position: relative;
}

.ads-item1 {
    background: url('../images/ads-img1.jpg');
    background-size: cover;
    background-position: center;
    margin-right: 3%;
}

.ads-item2 {
    background: url('../images/ads-img2.jpg');
    background-size: cover;
    background-position: center;
}

.ads-text {
    position: absolute;
    width: 48%;
    top: 34%;
    left: 7%;
}

.ads-text h3 {
    text-transform: uppercase;
    font-size: 2em;
    color: #ffffff;
    line-height: 1.2em;
    text-shadow: 3px 3px 6px #312a26;
}

.ads-text a {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 1em;
    text-shadow: 3px 3px 6px #312a26;
}

/* merch area */

.merch {
    width: 85%;
    margin: 4em auto;
}

.section-header {
    text-align: center;
}

.section-header span {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-style: italic;
    color: #c7a17a;
}

.section-header h2{
    text-transform: uppercase;
    color: #312a26;
}

.section-header hr {
    border: 1px solid #c7a17a;
    height: 2px;
    width: 25%;
    margin: auto;
}

.merch-gallery {
    margin-top: 2em;
    overflow: auto;
}

.merch-items {
    width: 24.25%;
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;

}

.cancel-margin {
    margin-right: 0;
}

.merch-items img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/* discount */

.discount {
    width: 85%;
    margin: 4em auto;
}

.discount-area {
    background: url('../images/discount-img.jpg');
    background-size: cover;
    background-position: center;
    width: auto;
    height: 350px;
    text-align: center;
    padding-top: 8%;
}

.discount-area span {
    font-style: italic;
    color: #ffffff;
}

.discount-area h2 {
    color: #ffffff;
    
}

.discount-area a {
    background: rgba(255, 255, 255, .5);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: #000;
    padding: 15px 10px;
    display: inline-block;
    margin-top: 1em;
    font-weight: bold;
}

.ads-item3 {
    background: url('../images/ads-img3.jpg');
    background-size: cover;
    background-position: center;
    margin-right: 3%;
    margin-bottom: 3%;
}

.ads-item4 {
    background: url('../images/ads-img4.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 3%;
}

.ads-item5 {
    background: url('../images/ads-img5.jpg');
    background-size: cover;
    background-position: center;
    margin-right: 3%;
}

.ads-item6 {
    background: url('../images/ads-img6.jpg');
    background-size: cover;
    background-position: center;
}

/* reservation */

.reservation {
    width: 85%;
    margin: 4em auto;
}

form {
    overflow: auto;
}

.form-group {
    width: 49.5%;
    height: 650px;
    background: #f2f2f2;
    float: left;
    border-radius: 5px;
    padding: 2em;
    margin-top: 2em;

}

.add-margin {
    margin-right: 1%;
}

form input,
form label,
form select,
form textarea {
    display: inline-block;
    width: 100%;
    margin-bottom: 1em;
    padding: 1em;
    font-family: 'Raleway', sans-serif;
}

form label {
    font-weight: 700;
    padding: 0;
    margin-bottom: .5em;
}

form p {
    text-align: center;
    margin: 1em;
    font-weight: 700;
}

.res-time * {
    width: auto;
}

.res-time {
    text-align: center;
}

form h3 {
    text-transform: uppercase;
}

.payment {
    text-align: center;
}

.res-agreement * {
    width: auto;
}

input[type="submit"] {
    background: #c7a17a;
    font-weight: 700;
    text-transform: uppercase;
}

.footer {
    width: 100%;
    padding: 2em 0;
    background: url('../images/footer-img.jpg');
    background-size: cover;
    background-position: center;

}

.footer-content {
    width: 85%;
    margin: auto;
    overflow: auto;
}

.footer-widgets {
    width: 25%;
    float: left;
    padding: 1em;
}

.footer-widgets h3 {
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 3px 3px 6px #312a26;
    margin: 1em 0;
}

.footer-widgets h4 {
    color: #ffffff;
}

.footer-widgets p {
    color: #c7a17a;
}

.footer-widgets table th,
.footer-widgets table td {
    color: #ffffff;
    font-family: 'Raleway',sans-serif;
}

.footer-widgets form * {
    width: auto;
}

/*  */

.footer-social {
    height: 50px;
    background: #312a26;
    line-height: 50px;
    overflow: auto;
}

.social-widget {
    color: #ffffff;
    float: left;
    width: 33.3%;
    text-align: center;
}

.social-widget img{
    width: 20px;
}